<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>1560503</string>
	<string>2885428</string>
	<string>1503678</string>
	<string>1530166</string>
	<string>1615101</string>
	<string>1534748</string>
</array>
</plist>
